body{font-size:16px}
.ui-footer .ui-title{font-size:.7em}
.ui-header .ui-title{text-align:left;margin:.6em 0 .8em}
.ui-li-divider{font-size:1em}
.ui-btn-inner{font-size:.875em}
.crm_mobile_versao,.crm_mobile_atutenticacao{display:inline-block;position:absolute;right:5px;top:40px;font-size:.75em}
.ui-content{padding:0}
.ui-input-text.obrigatorio{border-left:2px solid #FF4500}
input.obrigatorio{border-left:none}
.ui-loader-background{width:100%;height:100%;top:0;background:rgba(0,0,0,0.3);position:fixed;z-index:9999998;margin:0;padding:0}
.ui-loading .ui-loader-background{display:block}
.ui-datebox-container .ui-header .ui-title{text-align:center}
.situacoes_clientes_1,.situacoes_pedido_1,.situacoes_sincronizacao_1,.situacoes_produtos_1{color:blue}
.situacoes_clientes_2,.situacoes_pedido_3,.situacoes_sincronizacao_2,.situacoes_produtos_2{color:red}
.situacoes_clientes_3,.situacoes_sincronizacao_3{color:orange}
.situacoes_clientes_4,.situacoes_pedido_4,.situacoes_produtos_4{color:#FF4500}
.situacoes_clientes_5,.situacoes_pedido_5,.situacoes_sincronizacao_5{color:#000}
.situacoes_pedido_2,.situacoes_sincronizacao_4,.situacoes_produtos_3{color:green}
.ui-bar, .ui-body{
    padding: 0;
}
.ui-input-text.disabled{
    background-color: #bbb;
}
.ui-table {
    font-size: 0.8em;
}
input.textoErro, .textoErro{border:1px solid red;}
input.textoSucesso, .textoSucesso{border:1px solid green;}
input.textoAviso, .textoAviso{border:1px solid yellow;}
input.textoDisabled, .textoDisabled{border:1px solid #cccccc; background-color: #dddddd}
.spanError{
    display: block;
    color: red;
    font-size: 0.8em;
    margin-left: 23%;
}
.msg_error{
    background-color: red;
}
.msg_aviso{
    background-color: yellowgreen;
}
.msg_sucesso_combo{
    display: block;
    color: green;
    font-size: 0.8em;
    margin-left: 23%;
}
.ui-table-reflow.ui-responsive {
    display: inline-table;
}
@media screen and (min-width: 20em){
    table div.ui-input-text, table div.ui-select{
        width: 60%;
        display: inline-block;
    }
}
@media screen and (min-width: 30em){
    table div.ui-input-text, table div.ui-select{
        width: 60%;
        display: inline-block;
    }
}